/* 
Das sind jetzt noch Werte aus dem offiziellen Tutorial von Google. 
Größtenteilst versuche ich, die mit styled components zu ersetzen, aber lasse sie erstmal hier.
*/


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.container {
  margin-bottom: 200px;
}

.controls {
  height:20px;
  width: 20%;
  padding: 1rem;
  margin-bottom:200px;
}

.controls input {
  font-family: Roboto;
  border-radius: 20px;
}

/*
Farben muss für den map-container hardgecoded werden, da dieser nicht ohne weiteres durch einen 
styled-component ersetzt werden kann.
*/

.map-container {
  width: 100%;
  height: 50vh;
  border: 4px solid #B8007A;
  border-radius: 20px;
  
}

.map {
  width: 100%;
  height: 100%;
  
}

.highlight {

  
}

.combobox-input {

  color:black;
  background-color: #fdceee;
  border: none ;
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  outline:none;
  
  &:focus{
    background-color: white;
  }
  

  
}


